@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/container-queries";

body {
  @apply bg-white dark:bg-gray-900 text-black dark:text-white;
  overflow-y: overlay; 
}
/* Fix Mantine RTE toolbar jumping */
.mantine-RichTextEditor-root {
  width: 100% !important;
}

.mantine-RichTextEditor-toolbar {
  position: static !important;   /* prevent moving with scroll */
  top: auto !important;
  z-index: 10;
}

.mantine-RichTextEditor-content {
  min-height: 160px !important;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}
.no-scrollbar::-webkit-scrollbar {
  display: none;            
}
:root {
  --background: 255 255 255; /* white */
  --foreground: 0 0 0; /* black */
}

.dark {
  --background: 17 24 39; /* gray-900 */
  --foreground: 255 255 255; /* white */
}
/* FIX for table hiding dropdown */
/* Fix for react-data-table-component blocking dropdowns */
.rdt_Table,
.rdt_TableRow,
.rdt_TableCell,
.rdt_TableCol,
.rdt_TableCol_Sortable {
  overflow: visible !important;
}


/* Ensure Radix dropdown is visible */
[data-radix-dropdown-menu-content] {
  z-index: 999999 !important;
  position: relative !important;
}
@layer utilities {
  .rdt_TableCell {
    overflow: visible !important;
  }
}
